@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .option {
        @apply hover:text-red-400 active:translate-y-0.5 active:text-red-600 hover:-translate-y-[2px] tracking-wide
    }
}

@font-face {
    font-family: 'Arcade Classic';
    src: url("/fonts/arcadeclassic/ARCADECLASSIC.TTF");
}

@font-face {
    font-family: "Pacfont";
    src: url("/fonts/pacfont/PAC-FONT.TTF");
}

@font-face {
   font-family: "Crackman";
   src: url('/fonts/crackman/Crackman.otf') 
}

@font-face {
    font-family: "Zero Velocity Brk";
    src: url("/fonts/zero-velocity-brk/zerovelo.ttf");
}

@font-face {
    font-family: "Dp Comic";
    src: url("/fonts/dpcomic/dpcomic.ttf");
}

@font-face {
    font-family: 'Road-Rage';
    src: url("/fonts/road-rage/Road_Rage/Road_Rage.otf");
}

@font-face {
    font-family: 'Saucer BB';
    src: url("/fonts/saucer-bb/SaucerBB.ttf");
}

@font-face {
    font-family: "Winter Vista";
    src: url('/fonts/winter-vista/Winter\ Vista.otf');
}

@font-face {
    font-family: 'Punk-TypeWriter';
    src: url('/fonts/punk_typewriter/Punk\ Typewriter.otf')
}
@font-face {
    font-family: 'Kg-Happy';
    src: url('/fonts/kg_happy/KGHAPPY.ttf')
}
@font-face {
    font-family: 'Komigo';
    src: url('/fonts/komigo/Komigo3D-Regular.ttf')
}
@font-face {
    font-family: 'Santa-Beast';
    src: url('/fonts/santa_beast/Santa\ Beast.otf')
}
@font-face {
    font-family: 'Coffee-Spark';
    src: url('/fonts/coffee_spark/Coffee\ Spark.ttf')
}
@font-face {
    font-family: 'Copy-Duck';
    src: url('/fonts/copyduck/Copyduck.ttf')
}
@font-face {
    font-family: 'Smartie-Caps';
    src: url('/fonts/smartie-caps/SMARC___.TTF')
}
@font-face {
    font-family: 'Workforce-Combine';
    src: url('/fonts/workforce_combine/WorkforceCombine_PERSONAL_USE_ONLY.otf')
}
@font-face {
    font-family: 'Mickey-Mouse';
    src: url('/fonts/mickey_mouse/MickeyMouse_PERSONAL_USE_ONLY.otf')
}